body {
  background-color: lightgrey;
}

h1, h2, h3, h4, p, a, i {
  margin: 0.2em;
}

.container {
  display:flex;
  flex-wrap: wrap;
}

.timeline {
  margin: 0.5em;
	/*position: relative;*/
  display:flex;
  flex-flow:column wrap;
  flex-wrap: wrap;
  max-width:33vw;
}

div.node {
  max-width:28em;
  /*min-width:20em;*/
  margin: 0.2em;
  padding: 0.2em 0.5em 0.2em 0.5em;
}


div.node.S, div.node.N {
  box-shadow: -0.15em -0.15em 0.2em grey;
  border-radius:0.2em;
  background-color:white
}

div.node.N > div.content > .title {
  font-weight: normal;
}

div.node.T,div.node.suggestions{
  border-left: dotted;
  padding-left: 1em;
}

div.content i{
  width: 1em;
}

div.content >  .text {
  padding-left: 1em;
}

div.content > .text > .address{
  font-style: italic;
}

div.content > .text > .description {
  /*margin-top:2%;*/
  color: grey;
}

div.node.D {
  position: sticky;
  top: 0px;
  background-color: rgba(211,211,211,0.6);
}

div.node.D h2{
  margin: 0px;
  
}

/* Toolbar */
.toolbar {
  position: fixed;
  right: 0px;
  top: 0px;
}

@media print  {
  @page {
    size: auto;
    margin: 10mm;
  }

  div.container {
    columns:2 ;
    -moz-columns:2 ;
    -webkit-columns:2 ;
    -moz-column-fill:balance;
    display:block;
  }

  .timeline{
    display:inline;
    /*vertical-align: top;*/
    border-bottom:1px solid;
    /*padding-bottom:10px;*/
  }

  div.node {
    width: 20em;
    padding-bottom: 2em; /* note taking area */
    page-break-inside: avoid;
  }

  div.node.S, div.node.N {
    border-top: 1px solid lightgrey;
  }

  div.node.D {
    position: static;
  }

  div.node.T,div.node.suggestions{
    border-left: dotted;
    padding-left: 0.5em;
  }

  .toolbar, .fileSelector {
    display: none;
  }
}

/* disabled */

div.content > .map{
  min-width:200px;  
  float:right
}

.daymap {
  text-align:center;
}

.daymap > img{
  margin:3%;
  cursor: pointer;
}
