.icon {
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
  left:20%;
  background: #FFFFFF;
}

.icon-D {
  border-radius: 10%;
}

.icon-T {
  box-shadow: none;
  background: white;
  border-radius: 0;
}


.timeline {
	margin: 30px 0 0 0;
	padding: 0;
	position: relative;
  display:flex;
  flex-flow:column wrap;
  max-height:90vh;
}

div.node{
  position:relative;
  max-width:50vw;
}

div.line {
  
  position:absolute;
  background:#afdcf8;
  width:10px;
  height:100%;
  margin-left:-40px;
  z-index:-1;
  border: 1px solid;
  border-radius: 10px;
}

.timeline > li {
  display: flex;
  white-space:normal;
}

div.icon {
  display:inline-block;
}

div.icon > i {
  margin-top:2px;
}

div.content {
  padding-left: 15px;
  min-height: 60px;
  display:inline-block;
  vertical-align:top;
  width:85%;
  white-space: normal;
  margin-top:5px;
}

div.content > h3{
  margin-top:0px;
}
 div.content > .title{
  margin-bottom: 1%;
  display:inline-block;
}

div.content > p {
  margin-top:0px;
  margin-bottom:0px;
}
div.content >  {
  padding-left: 1.5em;
  max-width: 50vw;
}

div.content >  .text {
  vertical-align: top;
}

div.content > div.info_section > .text > .address{
  font-style: italic;
}

div.content > .text > .description{
  margin-top:2%;
  color: grey;
}

div.content > .map{
min-width:200px;  
float:right
}

div.container {
  white-space:nowrap;
}

.time {
display:inline-block;
width:4em;
margin:0px;
font-weight:normal;
}

@media print  {
  div.container {
    -moz-columns:2 ;
    -moz-column-fill:balance;
  }
  .timeline{

    display:inline;
    vertical-align: top;
    border-bottom:1px solid;
    padding-bottom:10px;
  }

  div.node{
    display:iblock;
  }
}

