.icon {
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
  left:20%;
  background: #FFFFFF;
}

.timeline {
	margin: 30px 0 0 0;
	padding: 0;
	position: relative;
  display:flex;
  flex-flow:column wrap;
  max-height:90vh;
}

/* The Line */
/*
.timeline:before{
  content:'';
	position: absolute;
	top: 0;
  bottom: 0;
	left: 25px;
	width: 10px;
	background: #afdcf8;
	margin-left: -10px;
  z-index: -1
}
*/
div.node{
  position:relative;
}
div.line {
  
  position:absolute;
  background:#afdcf8;
  width:10px;
  height:100%;
  margin-left:-40px;
  z-index:-1;
  border: 1px solid;
 border-radius: 10px;
}

.timeline > li {
  display: flex;
  white-space:normal;
}

div.icon {
  display:inline-block;
}

div.icon > img{
  height: 40px;
  width:40px;
}

div.content {
  padding-left: 15px;
  min-height: 60px;
  display:inline-block;
  vertical-align:top;
 max-width:90%;
  white-space: normal;
  margin-top:5px;
}

div.content > h3{
  margin-top:5px;
}
 div.content > .title,.address,.description{
  margin-top: 1%;
  margin-bottom: 1%;
  display:inline-block;
}

div.content > .description{
  color: grey;
  margin-left: 5%;
}

div.container {
  white-space:nowrap;

}


@media print  {
div.container {
  -moz-columns:2 ;
  -moz-column-fill:balance;
}
.timeline{

    display:inline;
  vertical-align: top;
}
  div.node{
    display:iblock;
  }
}
